@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --blue: #484a4e; /* Color por defecto */
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    overflow: hidden;
  }  
  
  button {
    transition: all 0.3s ease;
  }
  
  button, a {
    transition: all 0.3s ease-in-out;
  }  
  
  a:hover {
    transform: scale(1.05);
  }
  #particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @keyframes glow {
    0% { text-shadow: 0 0 5px rgba(59, 130, 246, 0.5); }
    50% { text-shadow: 0 0 10px rgba(59, 130, 246, 1); }
    100% { text-shadow: 0 0 5px rgba(59, 130, 246, 0.5); }
  }
  
  .nav-item.active {
    color: #ffffff;
    font-weight: bold;
    animation: glow 1.5s infinite alternate ease-in-out;
  }