---
import Layout from "../../layouts/Layout.astro"
import { Card } from "../../components/Card"
import { SectionCard } from "../../components/SectionCard";

const cards = [
  {
    title: "Diseño 1",
    desc: "Descripción breve sobre este diseño.",
    src: "/design1.jpg"
  },
  {
    title: "Diseño 2",
    desc: "Descripción breve sobre este diseño.",
    src: "/design2.jpg"
  },
  {
    title: "Diseño 3",
    desc: "Descripción breve sobre este diseño.",
    src: "/design3.jpg"
  }
  //Aququi pqueden agregar más objetos según sea necesario
];
---
<Layout title="Diseños">
  <!-- Sección de Diseños -->
  <section class="Hero">
    <h2 class="mb-8">Galería de Diseños</h2>
    <!-- Grid de imágenes -->
    <SectionCard client:only="react">
      {cards.map((item) => (
          <Card
            title={item.title}
            desc={item.desc}
            src={item.src}
            OnlyButton={false}
            client:only="react"
          />
        ))}
    </SectionCard>
  </section>
</Layout>