---
import Layout from "../../layouts/Layout.astro"
import { Card } from "../../components/Card"
import { SectionCard } from "../../components/SectionCard";

const itemns = [
  {
    title: "Banner Miby",
    desc: "Banner para Miby Bot de ZenForge Studios.",
    src: "/bannermiby1.png"
  },
  {
    title: "Bungee Banner",
    desc: "Banner para el recurso de BungeeCord Setup.",
    src: "/bungee.png"
  },
  {
    title: "EcoPets Addon Banner",
    desc: "Banner para el recurso de EcoPets Addon Plugin.",
    src: "/ecopets.png"
  },
  {
    title: "EcoJobs Config Banner",
    desc: "Banner para el recurso de EcoJobs Config.",
    src: "/ecojobs.png"
  },
  {
    title: "Banner Publicitario #1 EN",
    desc: "Banner publicitario para nuestro desarrllo en Ingles.",
    src: "/en.png"
  },
  {
    title: "Banner Publicitario #2 EN",
    desc: "Banner publicitario para nuestro desarrllo en Ingles.",
    src: "/en1.png"
  },
  {
    title: "Tab & Score Banner",
    desc: "Banner para el recurso de Tab & Score Config.",
    src: "/tabscore.png"
  },
  {
    title: "Banner Publicitario #1 ES",
    desc: "Banner publicitario para nuestro desarrllo en Español.",
    src: "/es.png"
  },
  {
    title: "Banner Publicitario #2 ES",
    desc: "Banner publicitario para nuestro desarrllo en Español.",
    src: "/es1.png"
  },
  {
    title: "Banner de Caracteristicas",
    desc: "Banner para la descripcion de nuestro recursos.",
    src: "/11.png"
  },
  {
    title: "Banner para LegendX",
    desc: "Banner para actualizacion de LegendX Net.",
    src: "/upt1.jpg"
  },
  {
    title: "Banner para LegendX",
    desc: "Banner para actualizacion de LegendX Net.",
    src: "/upt2.jpg"
  },
  {
    title: "Banner para LegendX",
    desc: "Banner para actualizacion de LegendX Net.",
    src: "/upt3.jpg"
  },
  {
    title: "Banner para LegendX",
    desc: "Banner para actualizacion de LegendX Net.",
    src: "/upt4.jpg"
  },
  {
    title: "Banner para LegendX",
    desc: "Banner para actualizacion de LegendX Net.",
    src: "/upt5.jpg"
  },
  {
    title: "Banner para LegendX",
    desc: "Banner para actualizacion de LegendX Net.",
    src: "/upt6.jpg"
  },
  {
    title: "Banner para LegendX",
    desc: "Banner para actualizacion de LegendX Net.",
    src: "/upt7.jpg"
  }
  ]
  
---
<Layout title="Diseños">
  <!-- Sección de Diseños -->
  <section class="Hero">
      <h2 class="mb-8">Galería de Diseños</h2>

      <!-- Grid de imágenes -->
      <SectionCard client:only="react">
        {itemns.map(item => (
          <Card
            title={item.title}
            desc={item.desc}
            src={item.src}
            OnlyButton={false}
            client:only="react"
          />
        ))}
    </SectionCard>
  </section>
</Layout>