---
import Navbar from '../../components/Navbar.astro';
import Footer from '../../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="icon" href="/favicon.svg" type="image/x-icon" />
    <meta charset="UTF-8">
    <title>ZenForge Studios - Diseños</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" />
  </head>
  <body class="bg-gray-900 text-white font-poppins">
    <Navbar />

    <main class="container mx-auto px-4 py-12">
      <h1 class="text-4xl font-bold text-center mb-8 text-blue-400">Galería de Diseños</h1>

      <!-- Grid de imágenes -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition">
          <img
            src="/public/bannermiby1.png"
            alt="Diseño 1"
            class="w-full h-60 object-cover"
          />
          <div class="p-4">
            <h3 class="text-xl font-bold text-blue-400">Banner Miby</h3>
            <p class="text-gray-300 mt-2">Banner para Miby Bot de Zenforge Studios.</p>
          </div>
        </div>
        <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition">
          <img
            src="/public/bungee.png"
            alt="Diseño 2"
            class="w-full h-60 object-cover"
          />
          <div class="p-4">
            <h3 class="text-xl font-bold text-blue-400">Bungee Banner</h3>
            <p class="text-gray-300 mt-2">Banner para el recurso de BungeeCord Setup.</p>
          </div>
        </div>
        <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition">
          <img
            src="/public/ecopets.png"
            alt="Diseño 3"
            class="w-full h-60 object-cover"
          />
          <div class="p-4">
            <h3 class="text-xl font-bold text-blue-400">EcoPets Addon Banner</h3>
            <p class="text-gray-300 mt-2">Banner para el recurso de EcoPets Addon Plugin..</p>
          </div>
        </div>
        <!-- Agregar más imágenes según sea necesario -->
        <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition">
          <img
            src="/public/ecojobs.png"
            alt="Diseño 3"
            class="w-full h-60 object-cover"
          />
          <div class="p-4">
            <h3 class="text-xl font-bold text-blue-400">EcoJobs Config Banner</h3>
            <p class="text-gray-300 mt-2">Banner para el recurso de EcoJobs Config.</p>
          </div>
        </div>
        <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition">
          <img
            src="/public/en.png"
            alt="Diseño 3"
            class="w-full h-60 object-cover"
          />
          <div class="p-4">
            <h3 class="text-xl font-bold text-blue-400">Banner Publicitario #1 EN</h3>
            <p class="text-gray-300 mt-2">Banner publicitario para nuestro desarrllo en Ingles.</p>
          </div>
        </div>
        <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition">
          <img
            src="/public/en1.png"
            alt="Diseño 3"
            class="w-full h-60 object-cover"
          />
          <div class="p-4">
            <h3 class="text-xl font-bold text-blue-400">Banner Publicitario #2 EN</h3>
            <p class="text-gray-300 mt-2">Banner publicitario para nuestro desarrllo en Ingles.</p>
          </div>
        </div>
        <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition">
          <img
            src="/public/tabscore.png"
            alt="Diseño 3"
            class="w-full h-60 object-cover"
          />
          <div class="p-4">
            <h3 class="text-xl font-bold text-blue-400">Tab & Score Banner</h3>
            <p class="text-gray-300 mt-2">Banner para el recurso de Tab & Score Config.</p>
          </div>
        </div>

        <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition">
          <img
            src="/public/es.png"
            alt="Diseño 3"
            class="w-full h-60 object-cover"
          />
          <div class="p-4">
            <h3 class="text-xl font-bold text-blue-400">Banner Publicitario #1 ES</h3>
            <p class="text-gray-300 mt-2">Banner publicitario para nuestro desarrllo en Español.</p>
          </div>
        </div>
        <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition">
          <img
            src="/public/es1.png"
            alt="Diseño 3"
            class="w-full h-60 object-cover"
          />
          <div class="p-4">
            <h3 class="text-xl font-bold text-blue-400">Banner Publicitario #2 ES</h3>
            <p class="text-gray-300 mt-2">Banner publicitario para nuestro desarrllo en Español.</p>
          </div>
        </div>
        <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition">
          <img
            src="/public/11.png"
            alt="Diseño 3"
            class="w-full h-60 object-cover"
          />
          <div class="p-4">
            <h3 class="text-xl font-bold text-blue-400">Banner de Caracteristicas</h3>
            <p class="text-gray-300 mt-2">Banner para la descripcion de nuestro recursos.</p>
          </div>
        </div>

        <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition">
          <img
            src="/public/upt1.jpg"
            alt="Diseño 3"
            class="w-full h-60 object-cover"
          />
          <div class="p-4">
            <h3 class="text-xl font-bold text-blue-400">Banner para LegendX</h3>
            <p class="text-gray-300 mt-2">Banner para actualizacion de LegendX Net.</p>
          </div>
        </div>
        

        <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition">
          <img
            src="/public/upt2.jpg"
            alt="Diseño 3"
            class="w-full h-60 object-cover"
          />
          <div class="p-4">
            <h3 class="text-xl font-bold text-blue-400">Banner para LegendX</h3>
            <p class="text-gray-300 mt-2">Banner para actualizacion de LegendX Net.</p>
          </div>
        </div>
        
        <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition">
          <img
            src="/public/upt3.jpg"
            alt="Diseño 3"
            class="w-full h-60 object-cover"
          />
          <div class="p-4">
            <h3 class="text-xl font-bold text-blue-400">Banner para LegendX</h3>
            <p class="text-gray-300 mt-2">Banner para actualizacion de LegendX Net.</p>
          </div>
        </div>
        
        <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition">
          <img
            src="/public/upt4.jpg"
            alt="Diseño 3"
            class="w-full h-60 object-cover"
          />
          <div class="p-4">
            <h3 class="text-xl font-bold text-blue-400">Banner para LegendX</h3>
            <p class="text-gray-300 mt-2">Banner para actualizacion de LegendX Net.</p>
          </div>
        </div>
        
        <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition">
          <img
            src="/public/upt5.jpg"
            alt="Diseño 3"
            class="w-full h-60 object-cover"
          />
          <div class="p-4">
            <h3 class="text-xl font-bold text-blue-400">Banner para LegendX</h3>
            <p class="text-gray-300 mt-2">Banner para actualizacion de LegendX Net.</p>
          </div>
        </div>
        
        <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition">
          <img
            src="/public/upt6.jpg"
            alt="Diseño 3"
            class="w-full h-60 object-cover"
          />
          <div class="p-4">
            <h3 class="text-xl font-bold text-blue-400">Banner para LegendX</h3>
            <p class="text-gray-300 mt-2">Banner para actualizacion de LegendX Net.</p>
          </div>
        </div>
        
        <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg hover:shadow-xl transition">
          <img
            src="/public/upt7.jpg"
            alt="Diseño 3"
            class="w-full h-60 object-cover"
          />
          <div class="p-4">
            <h3 class="text-xl font-bold text-blue-400">Banner para LegendX</h3>
            <p class="text-gray-300 mt-2">Banner para actualizacion de LegendX Net.</p>
          </div>
        </div>
        
      </div>
    </main>

    <Footer />
  </body>
</html>