---
import Layout from "../layouts/Layout.astro"
import { ContactForm } from "../components/Form/ContactForm"
---

<Layout title="Contáctanos">
  <!-- Sección de Contáctanos -->
  <section class="Hero">
    <h1 class="mb-8">Contáctanos</h1>
    <p class="mb-6">
      ¿Tienes alguna consulta o necesitas asistencia? ¡Déjanos tus datos y nos pondremos en contacto contigo lo antes posible!
    </p>
    <ContactForm client:only="react"/>
  </section>
</Layout>