---
import Layout from "../layouts/Layout.astro"
import { LinkButton } from "../components/Button/LinkButton";
---

<Layout title="Galería">
  <section class="Hero">
    <h2 class="mb-6">Galería</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 w-full max-w-[40vw] mx-auto">
      <LinkButton href="/galeria/construcciones" client:only="react"  standOut={false}>
        Construcciones
      </LinkButton>
      <LinkButton href="/galeria/diseños" client:only="react"  standOut={false}>
        Diseños
      </LinkButton>
      </a>
    </div>
  </section>
</Layout>