---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Galería">
  <section class="Hero">
    <h1 class="text-4xl sm:text-5xl font-bold text-center mb-6 text-blue-400">Galería</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
      <a href="/galeria/construcciones" class="bg-gray-700 p-6 sm:p-8 rounded-lg shadow hover:bg-gray-600 transition text-center">
        <h2 class="text-2xl sm:text-3xl font-bold text-blue-400">Construcciones</h2>
      </a>
      <a href="/galeria/diseños" class="bg-gray-700 p-6 sm:p-8 rounded-lg shadow hover:bg-gray-600 transition text-center">
        <h2 class="text-2xl sm:text-3xl font-bold text-blue-400">Diseños</h2>
      </a>
    </div>
  </section>
</Layout>