---
import Layout from "../layouts/Layout.astro"
import { Button } from "../components/Button";
---

<Layout title="Galería">
  <section class="Hero">
    <h2 class="mb-6">Galería</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 w-full max-w-[50vw] mx-auto">
      <Button href="/galeria/construcciones" client:only="react"  standOut={false}>
        Construcciones
      </Button>
      <Button href="/galeria/diseños" client:only="react"  standOut={false}>
        Diseños
      </Button>
      </a>
    </div>
  </section>
</Layout>