---
import Layout  from "../layouts/Layout.astro";
import { LinkButton } from "../components/Button/LinkButton";
import { Icon } from 'astro-icon/components'; // 👈 Importación correcta
---
<Layout title="Inicio">
  <section class="Hero">
    <!--*------ [ Encabezado ] ------*-->
    <div>
      <h1> ZenForge Studios </h1> <!-- Titulo -->
      <h2 class="sub"> Transformamos Ideas en Experiencias Digitales </h2> <!-- Eslogan -->
    </div>

    <!--*------ [ Descripcion ] ------*-->
    <p class="text-lg b-8 animate-fadeIn max-w-3xl">
      En ZenForge Studios, convertimos conceptos en soluciones digitales de alto impacto.
      Creemos en la innovación, el diseño estratégico y la excelencia técnica para llevar cada proyecto más allá de lo convencional.
    </p>

    <!--*------ [ Botones ] ------*-->
    <div class="flex flex-wrap justify-center gap-4 sm:gap-6">
      <LinkButton standOut={true} href="/portfolio" client:only="react">
        <Icon name="mdi:rocket-launch" class="w-5 h-5 sm:w-6 sm:h-6" />
        Explora Nuestros Proyectos
      </LinkButton>
      <LinkButton standOut={false} href="/servicios" client:only="react">
        <Icon name="mdi:palette" class="w-5 h-5 sm:w-6 sm:h-6" />
        Descubre Nuestros Servicios
      </LinkButton>
    </div>
</Layout>