---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components'; // 👈 Importación correcta
import {Carousel} from '../components/Carousel';
import {Testimonials} from '../components/Testimonials';

const slides = [
  [
    { 
      img: 'banner1.png', 
      title: 'LegendX Network | Servidor', 
      desc: 'Network de Minecraft dirigido a todo público. Modalidad principal: Legendary Skyblock basado en funciones de Hypixel Skyblock.', 
      link: 'https://discord.gg/C4jRQJyWfZ' 
    },
    { 
      img: 'bannermiby1.png', 
      title: 'Miby | Discord Bot', 
      desc: 'Bot multipropósito con sistemas dinámicos, comandos personalizados y funciones avanzadas para la gestión de servidores.', 
      link: 'https://discord.com/oauth2/authorize?client_id=BOT_ID&scope=bot' 
    }                                                                   
  ],
  [
    { 
      img: 'ecojobs.png', 
      title: 'EcoPets Addon | Plugin', 
      desc: 'Network de Minecraft dirigido a todo público. Modalidad principal: Legendary Skyblock basado en funciones de Hypixel Skyblock.', 
      link: '#' 
    },
    { 
      img: 'copets.png', 
      title: 'ZFS EcoJobs | Config', 
      desc: 'Configuración avanzada para trabajos, con funciones optimizadas y un mejor toque que lo estándar del complemento.', 
      link: '#' 
    }
  ],
  [
    { 
      img: 'tabscore.png', 
      title: 'Tab & Score | Config', 
      desc: 'ZFS Tab and Score Config ofrece una configuración completa para tabuladores y scoreboards, optimizada para personalización y funcionalidad.', 
      link: '#' 
    },
    { 
      img: 'bungee.png', 
      title: 'ZFS Bungee | Setup', 
      desc: 'ZFS Bungee Setup ofrece configuración avanzada para servidores Minecraft, garantizando estabilidad, personalización y rendimiento óptimo para redes multijugador.', 
      link: '#'
    }
  ],
  [
    { 
      img: 'kitec.png', 
      title: 'Kit EldoriaCraft | Desing', 
      desc: 'Este kit es lo que le proporcionamos a nuestros clientes al momento de contratar nuestro servicio de diseño, En este caso es un kit para el branding del servidor de EldoriaCraft.', 
      link: '/kits/eldoriacraft.pdf' 
    },
    { 
      img: 'kitzfs.png',
      title: 'Kit ZenForge | Desing', 
      desc: 'Este kit es lo que le proporcionamos a nuestros clientes al momento de contratar nuestro servicio de diseño. En este caso, es un kit para ZenForge', 
      link: '/kits/zenforge.pdf'
    }
  ]
];

const reviewsPairs = [
  [
    {
      img: "/Kryz.png",
      name: "Kryz",
      servicio: "Discord Server",
      text: "La configuración y decoración de mi servidor de Discord fue increíble, fue rápido y se acomodó a mis peticiones junto con la creación de un logo tal y como quería, un excelente servicio.",
      rating: "★★★★★",
    },
    {
      img: "/Dacizco.png",
      name: "Dacizco",
      servicio: "Desarrollo",
      text: "Buen servicio que hace cuacxdpe su estudio ZenForge es de calidad.",
      rating: "★★★★★",
    },
  ],
  [
    {
      img: "/lxicon.png",
      name: "EnCraft",
      servicio: "Diseño y Config",
      text: "Los mejores precios en el mercado.",
      rating: "★★★★☆",
    },
    {
      img: "/ecicon.png",
      name: "David García",
      servicio: "Diseño y Config",
      text: "Un equipo increíble, soluciones rápidas y una atención impecable.",
      rating: "★★★★★",
    },
  ],
];
---
<Layout title="Portfolio">
  <section class="Hero">
    <h2 class="mb-6">Nuestro Portafolio</h2>
    <h3 class="mb-6 sub">Nuestros Proyectos</h3>
    <Carousel client:only="react" slides={slides}  />
    <h3 class="my-6 sub">Lo que dicen nuestros clientes</h3>
    <Testimonials Items={reviewsPairs}  client:only="react"/>
  </section>
</Layout>

