---
import React from 'react';
import { Header } from "../components/Header/Header";
import Footer from '../components/Footer.astro';
import { GlobalStyles } from "../styles/GlobalStyles";
// Props de Astro, como `title`
const { title = "Mi Sitio Web" } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>ZenForge Studios - {title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" />
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
  </head>
  <body>
    <React.StrictMode>
      <GlobalStyles client:only="react"/>
      <main>
        <Header client:only="react"/>
        <slot />
        <Footer />
      </main>
    </React.StrictMode>
  </body>
</html>